* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  overflow: visible;
  font-family: "Roboto",serif;
}

.override{
  height: 100vh;
  width: 100vw;
  position: relative;
}

#firstscreen{
  transition: .3s all ease-in-out;
  width: 100vw;
  height: 100vh;
  background-color: black;
  text-align: center;
  color: white;
  font-family:"Bebas Neue";
  -webkit-transition: 1s;
            transition: 1s;
    h1{
      font-family: "bebas regular";
      font-size: 6em;
      padding-top: 20%;
    }
    h3{
      font-family: "bebas regular";
      margin-top: 10px;
      font-size: 1.4em;
      font-weight: lighter;
    }
    .fade{
      display:none;
    }
}

textarea{
width:350px;
border-radius: 10px;
    color: black;
    margin-top: 10px;
  padding: 15px;
  height: 130px;
  font-family: "Roboto ",serif;
}



.more{
  display: block;
  overflow: hidden;
}
#massive-wrapper{
  display:none;
  width: 100%;
  height: 100%;
}


#container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  display: block;
}
.cta{
  position: absolute;
  text-align: center;
  z-index: 3000;
  width: 100%;


#buttonB{

background-color: white;
color:rgba(51,51,51,0.7);
margin-left: 0;
margin-right: 0;
margin: auto;
position: relative;
bottom: 200px;
font-size: 1.5em;
font-family: "bebas regular";
font-weight:400;
letter-spacing: 2px;
padding: 8px 15px 5px 15px;
box-shadow: 0px 0px 15px rgba(0,0,0,.3);
transition: all .3s ease-in-out;
}
#buttonB:hover{
  box-shadow: 0px 0px 30px rgba(0,0,0,.3);
  color:rgba(51,51,51,1);
}
}




        textarea{
          width: 280px;
        }
        #nota{
          width: 280px;
          font-size: .9em;
        }
          p{
            padding: 20px 0px;
            max-width: 450px;
            margin: auto;
            font-family: "Roboto",serif;
            line-height: 1.6;
          }


.logo{
  position: fixed;
  width: 100%;
  top: 0;
  background-color: black;
  height:70px;
  z-index:2000;


  img{
    height: 110px;
    width: auto;
    transition: all .1s ease-in-out;
  }
  .imglogo{
    height: 70px;
    width: auto;
    margin-left:20px;
    transition: all .1s ease-in-out;
  }
  .imglogo:hover{
    height: 75px;
    width: auto;
    transition: all .1s ease-in-out;
  }

  img:hover{
    height: 115px;
    width: auto;
  }

  #whitelogo{
    position: absolute;
    left: 50px;
    top:10px;
    height: 70px;
    transition: all .1s ease-in-out;
  }
  #whitelogo:hover{
    position: absolute;


    height: 75px;
  }

}

.prev{
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: 200;
  color: white;
}
.next{
   position: absolute;
  top: 50%;
  z-index: 200;
  color: white;
  right: 50px;
}

#slides {
  position: relative;
  width: 100%;
  height: 100%;
}
#slides .slide {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}
#slides .slide .title {
  position: relative;
 margin: 0 auto;
  z-index: 0;
  padding-top: 50px;
  font-family: "Reem Kufi", sans-serif;
  font-size: 6.5em;
  color: white;
}
.text-wrap{
  margin: auto;
    width: 80%;
  text-align: center;
}



#slides .slide .title .title-text {
  display: block;
  font-family: "bebas regular";
  opacity:0;
  -webkit-transform: translateY(1.5em);
          transform: translateY(1.5em);
  transition: -webkit-all .8s ease-in-out;
  transition: all .8s ease-in-out;
  transition: all .8s ease-in-out, -webkit-all .8s ease-in-out;
}


#slides .slide .titlesmall {

  position: relative;
  top: calc(70% - 0.5em);
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  padding-top: 5px;
  font-family: 'bebas regular';
  font-weight: 300;
  font-size: 1.6em;
  letter-spacing: 1px;
  color: rgba(255,255,255,1);
}

#slides .slide .titlesmall .title-text-small {

  display: block;
  -webkit-transform: translateY(1.5em);
          transform: translateY(1.5em);
          opacity:0;


  transition: -webkit-transform .8s ease-in-out;
  transition: all .8s ease-in-out;
  transition: all .8s ease-in-out, -webkit-all .8s ease-in-out;
}
#slides .slide.active .title .title-text {
  -webkit-transform: translate(0);
          transform: translate(0);
          opacity:1;
  transition-delay: .2s;
}
#slides .slide.active .titlesmall .title-text-small {

  -webkit-transform: translate(0);
          transform: translate(0);

          opacity:1;
  transition-delay: .2s;
}
#slides .slide.active .slide-partial, {
  -webkit-transform: translateX(0);
          transform: translateX(0);

}

#slides .slide .slide-partial {

  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
}


#slides .slide .slide-left {
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);

					.leftvid{

					      position: absolute;
								top: 0;
								left:50vw;
					      height: 100vh;




					}
}

#slides .slide .slide-right {
  top: 0;
  right: 0;
  -webkit-transform: translateX(20%);
          transform: translateX(100%);
          .rightvid{

                position: absolute;
                top: 0;
                right:50vw!important;
                height: 100vh;
          }

}


#slide-select {
  position: absolute;
  left: 50%;
  margin-left: -80px;
  bottom: 30px;
  z-index: 100;
  display: flex;
  text-align: center;
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  color: white;
}
#slide-select li {

  position: relative;
  cursor: pointer;
  margin: 0 7px;
}
#slide-select .selector {

  height: 3px;
  width: 40px;
  background-color: rgba(255,255,255,.30);
  transition: background-color 0.5s ease-in-out;
}
#slide-select .selector.current {
  background-color: white;
}

//EscapeRoom

#escape{
  z-index: 5000;

}

// inscreve-te


#fill{
  z-index: 5001;

}


// inscreve-te

// menu
#myNav{
  z-index: 5000;

}



#hamburger{
  transform: scale(.25);
  position: absolute;
  right: -10px;
  top:-20px;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow:scroll;
    background-color: #333;
    transition: 0.5s;
    opacity: 0.98;
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 50px;
    right: 45px;
    font-size: 60px;
}
.logomenu{
  width: 25%;
  text-align: center;
display: block;
  img{
    margin-top: 30px;
    height: 100px;
    width: auto;
    margin-bottom: 100px;
}
  #logoescape{

margin-top:50px;
      height: 110px;
      width: auto;

}

}

.aboutUs {

  width: 100%;
  min-width: 500px;
  text-align:center;
  display: block;
  color:white;
  float: left;


  p{
margin: 0px auto;

    width: 55%;
    min-width: 700px;
    letter-spacing: 1.6px;
    line-height: 1.6;
    font-family: montserratregular;
    text-transform: uppercase;
  }

}

.aboutescape{
  width: 100%;
  min-width: 500px;
  text-align:center;
  display: block;
  color:white;
  float: left;
  p{
    margin: 50px auto;
    width: 50%;
    min-width: 600px;
    letter-spacing: 1.6px;
    line-height: 1.6;
    font-family: "Roboto",serif;

  }
}
.links{
  width: 100%;
  min-width: 200px;
  display: block;
  bottom: 50px;
  position: absolute;
  float: left;
  text-align: center;
  a{
    display: inline-block;

      color: rgba(255,255,255,.7);

  }
}
.rules{
  width: 100%;
  min-width: 200px;
  display: block;
  bottom: 50px;
  margin:auto;
  position: relative;
  float: left;
  text-align: center;
  img{
    height: 140px;
    width:auto;
    margin:auto;
    display: block;

      color: rgba(255,255,255,.7);

  }
}



/* The Modal (background) */
.modalwrapper {
    position: absolute; /* Stay in place */
    z-index: 1000000; /* Sit on top */
    padding-top: 30vh; /* Location of the box */
    left: 0;
    color: white;
    text-align: center;
    top: 0;
    width: 0%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(51,51,51,0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgba(0,0,0,0);;
    margin: auto;
    padding: 0;
    z-index: 100000000;
    border: none;
    left: 20em;
    width: 45%!important;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
  position: absolute;
    color: rgba(255,255,255,.7);
    background-color: rgba(0,0,0,0);
    float: right;

    top: 40px;
    right: 10%;
    font-size: 5em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#submit{
  background-color: green;
border-radius: 10px;
border: 0px solid;
margin-top: 20px;
font-size: 1.5em;
font-family: "bebas regular";
font-weight:400;
letter-spacing: 2px;
padding: 8px 15px 5px 15px;
}


.scores {
  ul{
    padding-bottom:60px;
  }
    li{
      margin:13px 0!important;
      font-family: 'roboto';
      color: inherit;
    }
}

#explicaçao{
display: block;}

@media only screen and (min-height: 830px) and (min-width: 1210px) {
  .cor-left-3{
      position:relative;
      background-color:rgba(196,186,60,.8);
      height:auto;
      width:90vw;
      right:18em!important;
      top:15vh;
      overflow:hidden;
      z-index: 8;
      padding:20em 7em 8em 6em!important;
      color:#000;
      text-align: left;
      z-index:8;
}
}

@media only screen and (max-width: 1068px) {

  .team{
    margin-left:50px;
  	position: relative;
    width:80%;
    span{
      width: 100%!important;
      margin: 30px 10px;
      position: relative;
      display: inline-block;
  	label{
  		background-color: #b0a26f;
  display: inline-block;
  padding: 14px 15px!important;
  color: #000;
  top: 0;
  left: 0;
  position: absolute;
  font-size: .8em!important;
  font-family: montserratlight!important;
  text-transform: uppercase;
  	}
  	input{
  		display:inline-block;
  		height: 40px;
  		width:100%;
  		position: relative;
  		border:none;
  		left:0;
  		font-size: .8em!important;
  		font-family: montserratlight!important;
  		text-transform: uppercase;

  	}
  }
}
.responsavel{
  margin-left:50px;
  position: relative;
  width:80%!important;
  span{
    width: 100%!important;
    margin: 30px 10px;
    position: relative;
    display: inline-block;
  label{
    background-color: #b0a26f;
display: inline-block;
padding: 14px 15px!important;
color: #000;
top: 0;
left: 0;
position: absolute;
font-size: .8em!important;
font-family: montserratlight!important;
text-transform: uppercase;
  }
  input{
    display:inline-block;
    height: 40px;
    width:100%;
    position: relative;
    border:none;
    left:0;
    font-size: .8em!important;
    font-family: montserratlight!important;
    text-transform: uppercase;

  }
}
}
  .eachform{

  	width:80%!important;
  	float: left;
  	text-align: left;
  	margin: 0 50px 50px 50px!important;
  	position: relative;
  	span{
  		width: 100%;
  		margin: 10px 10px;
  		position: relative;
  		display: inline-block;

  		label{
  			background-color: #b0a26f;
  			display: inline-block;
  			padding: 14px 15px!important;
  			color: #000;
  			top: 0;
  			left: 0;
  			position: absolute;
  			font-size: .8em!important;
  			font-family: montserratlight!important;
  			text-transform: uppercase;
  		}
  		input{
  			display:inline-block;
  			height: 40px;
  			width:100%;
  			position: relative;
  			border:none;
  			left:0;
  			font-size: .8em!important;
  			font-family: montserratlight!important;
  			text-transform: uppercase;

  		}
  	}

  }
}



@media only screen and (max-width: 768px) {

  .team{
  	position: relative;
    width:95%;
    margin-left:0px;
    span{
      width: 100%!important;
      margin: 70px 10px!important;
      position: relative;
      display: inline-block;
  	label{
  		background-color: #b0a26f;
  display: inline-block;
  padding: 14px 15px!important;
  color: #000;
  top: -40px;
  left: 0;
  position: absolute;
  font-size: .8em!important;
  font-family: montserratlight!important;
  text-transform: uppercase;
  	}
  	input{
  		display:inline-block;
  		height: 40px;
  		width:100%;
  		position: relative;
  		border:none;
  		left:0;
      top:40px;
  		font-size: .8em!important;
  		font-family: montserratlight!important;
  		text-transform: uppercase;

  	}
  }
}
.responsavel{
  position: relative;
  width:95%!important;
  margin-left:0px;
  span{
    width: 100%!important;
    margin: 60px 10px!important;
    position: relative;
    display: inline-block;
  label{
    background-color: #b0a26f;
display: inline-block;
padding: 14px 15px!important;
color: #000;
top: -40px;
left: 0;
position: absolute;
font-size: .8em!important;
font-family: montserratlight!important;
text-transform: uppercase;
  }
  input{
    display:inline-block;
    height: 40px;
    width:100%;
    position: relative;
    border:none;
    left:0;
    top:40px;
    font-size: .8em!important;
    font-family: montserratlight!important;
    text-transform: uppercase;

  }
}
}
  .eachform{
  	width:95%!important;
  	float: left;
  	text-align: left;
  	margin: 0 50px 50px 0!important;
  	position: relative;
  	span{
  		width: 100%;
  		margin: 25px 10px!important;
  		position: relative;
  		display: inline-block;

  		label{
  			background-color: #b0a26f;
  			display: inline-block;
  			padding: 14px 15px!important;
  			color: #000;
  			top: -40px;
  			left: 0;
  			position: absolute;
  			font-size: .8em!important;
  			font-family: montserratlight!important;
  			text-transform: uppercase;
  		}
  		input{
  			display:inline-block;
  			height: 40px;
  			width:100%;
  			position: relative;
  			border:none;
  			left:0;
        top:40px;
  			font-size: .8em!important;
  			font-family: montserratlight!important;
  			text-transform: uppercase;

  		}
  	}

  }




.brevemente{
padding:0 30px;
margin-top:30vh!important;
}


  .bottom{
  	width:100%;
  	height:200px;
  	bottom:155px!important;
  	text-align: center;
  	background-color: #424242;
  	position: relative;


  }
  .bottom ul {
      font-size: .7em;
      line-height: 1.6;
      text-transform: uppercase;
      font-family: 'montserratlight';
      text-align: center!important;
      margin-left:0!important;
      width: 100%;
      position: absolute;
      color: #fff;
      bottom: 10px;
  }
  .biglogobottom{
  	height:100px!important;
    margin-bottom: 40px;
  }
  #explicaçao{
  	padding-top:100px;
  	display:none;
  	.quem-somos{

      margin-right: 3em!important;
      margin-top: 5em;
      width: 80%;
  		float: right;
  		text-align: right;
      display: block;

  }
  h1{

    font-family: 'Bebas bold';
    margin-bottom: .5em;
    margin-top:2em;
    font-size: 4em!important;
  	text-align: right;
    line-height: 1em;
  }
  .columns{
  float: right;
  width: 80vw!important;
      padding-bottom: 100px;

  font-size: .9em;
  	line-height: 1.6;
    text-transform: uppercase;
    font-family:'montserratlight';

    hyphens: none;
  }
  .cenas{
    display: block;
    width: 100%;
  	margin-top:60px;
  	.cor-left{
        position:relative;
        background-image: url('../img/office.jpg');
        background-size: cover;
        background-position: 70%;
        height:100vh;
  			margin-bottom: 150px;
        width:50vw;
        right:0;
       float: left;
        overflow:hidden;
        z-index: 8;
        padding:10em 7em 0em 9em;
        color:#000;
        text-align: right;
        z-index:8;
      }

    .cor-left-2{
        position:relative;
  			background-color:rgba(196,186,60,.8);
        height:auto;
        width:80vw;
      left:0!important;
        top:15vh;
        overflow:hidden;
        z-index: 8;
        padding:6em 7em 0em 6em;
        color:#000;
        text-align: left;
        z-index:8;
  			p{
  					font-family: 'Bebas bold';
  					margin-bottom: .5em;
  					font-size: 2em;
  					line-height: 1.6em;
  					color: white;
  					padding-bottom: 70px;
  					text-align: left;
  			}
      }
      .cor-left-3{
          position:relative;
          background-color:rgba(196,186,60,.8);
          height:auto;
          width:80vw;
          right:0!important;
          top:15vh;
          overflow:hidden;
          z-index: 8;
          padding:6em 7em 0em 6em;
          color:#000;
          text-align: left;
          z-index:8;
          p{
              font-family: 'Bebas bold';
              margin-bottom: .5em;
              font-size: 2em;
              line-height: 1.6em;
              color: white;
              padding-bottom: 70px;
              text-align: left;
          }
        }

  }

  }

  .pluscenas{
  	position: relative;
  bottom: 400px;
  }
  .logo{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    height:60px;
    z-index:2000;


    img{
      height: 50px;
      width: auto;
      transition: all .1s ease-in-out;
    }
    .imglogo{
      height: 60px;
      width: auto;
      margin-left:10px;
      transition: all .1s ease-in-out;
    }
    .imglogo:hover{
      height: 65px;
      width: auto;
      transition: all .1s ease-in-out;
    }

    img:hover{
      height: 55px;
      width: auto;
    }

    #whitelogo{
      position: absolute;
      left: 50px;
      top:10px;
      height: 70px;
      transition: all .1s ease-in-out;
    }
    #whitelogo:hover{
      position: absolute;

      height: 75px;
    }

  }


.logo  .lang{
    display: inline-block;
height: 100px;
position: relative;

float: right;
    top:15px;
    right:100px;
  }


  .logo  .lang2{
      display: inline-block;
  height: 100px;
  position: relative;

  float: right;
      top:15px;
      text-align: center;
    }

  #posso-participar{
  	 margin: 0px 0!important;
     .quem-somos{

        margin-left: 3em!important;
        margin-top: 5em;
        width: 80%;
        display: block;
    }
    .quem{
      h1{

        font-family: 'Bebas bold';
        margin-bottom: .5em;
        font-size: 4em!important;
        width: 90%;
        line-height: 1em;

      }

    }


    .columns{
      width: 80vw!important;
padding-bottom:50px;
      font-size: .8em!important;
        line-height: 1.6;
        text-transform: uppercase;
        font-family:'montserratlight';

        hyphens: none;
    }

  }
  #all-escape-rooms{

  	div{
  		margin-left: 3em!important;
      margin-top: 70px;
  			h1{

  				font-family: 'Bebas bold';
  				margin-bottom: .5em;
  				font-size: 3.5em!important;
  				line-height: 1em;
  			}
  		}

  			.grid-escapes{
  				display: grid;
  				grid-template-columns: 1fr 1fr 1fr!important;

  				width: 100vw;
  				margin-bottom: 200px;
  				.versoes{
  					height: 33.33vw!important;
  					border:2px solid black;
  					background-color: green;
  					text-align: center;
   					background-image:url('/assets/img/officeroom.jpg');
  					background-size: cover;
  					transition: .3s all ease-in-out;
  					h3{
  						font-family: 'Bebas bold';
  						font-size: 3em;
  						color: white;
  						position: relative;
  						top: calc(50% - .5em);
  						margin:auto;
  						display: none;

  					}
  				}
  				.versoes:hover{
  					height: 33.33vw!important;
  					border:2px solid black;
  					background-color: green;
  					text-align: center;
   					background-image:url('/assets/img/officehover.jpg');
  					background-size: cover;

  				}

  				.unavailable{
  					height: 33.33vw!important;
  					border: 2px solid rgba(33,33,33,.5);
  					background-color: rgba(33,33,33,.1);
  					text-align: center;
  					background-size: cover;
  					transition: .3s all ease-in-out;
  					.nextthemes{
  						font-family: 'Bebas bold';
  						font-size: 3em;
  						color: white;
  						position: relative;
  						top: calc(50% - 1em);
  						margin:auto;
  						display: none;
  							transition: .3s all ease-in-out;
  					}
  				}
  				.unavailable:hover{
  					height: 33.33vw!important;
  					border: 2px solid rgba(33,33,33,.8);
  					background-color: rgba(33,33,33,.3);
  					text-align: center;
  					background-size: cover;

  				}
  			}

}
#melhores-tempos{
	 margin: 0px 0!important;
   bottom:700px;
.quem{


     	.quem-somos{

         margin-left: 3em!important;
         margin-top: 5em;
         width: 80%;
         display: block;
         h1{

           font-family: 'Bebas bold';
           margin-bottom: .5em;
           font-size: 4.6em!important;
           line-height: 1em;
         }
     }
   }
}

.cor-left {
    position: relative;
    background-image: url('/assets/img/office.jpg');
    background-size: cover;
    background-position: -50%;
    height: 70vh!important;
    width: 40vw;
    right: 0;
    float: right;
    overflow: hidden;
    z-index: 8;
    padding: 10em 7em 0 9em;
    color: #000;
    text-align: right;
    z-index: 8;
}
.cenas{
.cor-left-4{
  width:100vw;
  padding:0;
}

.cor-left-2 {
    position: relative;
    background-color: #2FAC66;
    height: auto;
    width: 80vw!important;
    left: 0!important;
    top: -65vh!important;
    float:left;
    overflow: hidden;
    z-index: 8;
    padding: 70px 0 0 20px!important;
    color: #000;
    text-align: left;
    z-index: 8;
    p{
        font-family: 'Bebas bold';
        margin-bottom: .5em;
        font-size: 1.4em!important;
        line-height: 1.6em;
        padding-bottom:70px;
        color: white;
        text-align: left;
    }

}
.cor-left-3 {
    position: relative;
    background-color: #2FAC66;
    height: auto;
    width: 80vw!important;
    right: 0!important;
    top: -65vh!important;
    float:right;
    overflow: hidden;
    z-index: 8;
    padding: 150px 0 0 20px!important;
    color: #000;
    text-align: left;
    z-index: 8;
    p{
        font-family: 'Bebas bold';
        margin-bottom: .5em;
        font-size: 1.4em!important;
        line-height: 1.6em;
        padding-bottom:70px;
        color: white;
        text-align: left;
    }

}
}

  .title-text{
  font-size: .6em;
  padding-top: 20px;
  }
  .title-text-small{
    font-family: "bebas regular";
    font-size: .7em;
    padding-top: 15px;
  }
.footer{
  height:155px!important;}

  .scores {
      width: 100vw;
      display: block;
      float: left;
      margin-left: 0em!important;
      top: 100px!important;
      text-align: center;
      position: absolute;
      color: white;
      padding-bottom:100px;
      li{
        margin:13px 0!important;
        font-family: 'bebas neue';
        letter-spacing: 1px;
        color: inherit;
      }
  }

  .cta{
  #buttonB{
    bottom:130px;
  }
}
  .logo{

    #whitelogo{
      position: absolute;
      left: 20px;
      top:0px;
      height: 60px;
      transition: all .1s ease-in-out;
    }
    #whitelogo:hover{
      left: 20px;
      height: 65px;
    }
    img{

      height: 50px;
      width: auto;
      transition: all .1s ease-in-out;
    }
    img:hover{
      height: 55px;
      width: auto;
    }
    #hamburger{
      transform: scale(.5);
      position: absolute;
      top:5px;
      right: 20px;
    }

  }


#firstscreen{
  .fade{
    h1{
      font-family:'bebas regular';
      padding-top: 40vh;
      font-size: 3em;

    }
    h3{
font-family: "bebas regular";
      font-size: 1em;
    }
  }
}
.aboutescape{
  min-width: 200px;

  p{
    margin: 10px auto;
    min-width: 260px;
    letter-spacing: 1px;
    font-size: .9em;
    line-height: 1.6;
    font-family: "Roboto",serif;
    position: relative;
    top: -60px;
  }

}
#lim9logo{
  height: 70px;
  position: absolute;
  left: 20px;

}
.aboutUs{
  min-width: 200px;

  p{

    margin: 150px auto!important;
    min-width: 270px;
    font-size: .7em;
    letter-spacing: 1px;
    line-height: 1.6;

  }


}
.links{
  bottom: 40px;
}
.rules{
  bottom: 40px;
  img{
    height: 90px;
  }

}
.overlay .closebtn {
    position: absolute;
    top: 35px;
    right: 45px;
    font-size: 60px;
}
.logomenu{
  width: 50%;
  text-align: center;
display: block;
  img{
    margin-top: 30px;
    height: 100px;
    width: auto;
}
  #logoescape{

margin-top:50px;
      height: 45px;
      width: auto;

}


}
.prev{
  left: 20px;
}
.next{
  right: 20px;
}


}









textarea{
  width: 290px;
}
select{
  background-color: white;
  color: #333;
}
#nota{
  width: 280px;
  font-size: .9em;
}
  p{
    padding: 20px 0px;
    max-width: 450px;
    margin: auto;
    font-family: "Roboto",serif;
    line-height: 1.6;
  }

#slide-select{
  margin-left: -90px;
  .selector{
    bottom: 30px;
    height: 5px;
    border-radius: 2px;
    width: 40px;
    margin:0 10px;
  }
}
/* The Modal (background) */
.modalwrapper {
    position: fixed; /* Stay in place */
    z-index: 10000000; /* Sit on top */
    padding-top: 30vh; /* Location of the box */
    left: 0;
    color: white;
    text-align: center;
    top: 0;
    width: 0%;

    /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(51,51,51,0.9); /* Black w/ opacity */
}
.modal-content {
    position: relative;
    background-color: rgba(0,0,0,0);;
    margin: auto;
    padding: 0;
    z-index: 100000000;
    border: none;
    left: 0;
    min-width: 100%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
