.whitenav .nav{
  background-color:#fff!important;
}

.nav {
  background-color: transparent !important;
  position:fixed;
  top:0;
  left:0;
	width:100%;
	z-index: 2000;
	padding-left:3vh;
   -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height:5em;
  background-color:$dark-red-color!important;
  border:solid 3px transparent;
  padding-bottom:0.5em;

  &.headroom--pinned{


    animation-name: slideDown;
  }

  &.headroom--unpinned{
    animation-name: slideUp;
  }

  &.headroom--top{

  }

	#nav-logo{
    position:absolute;
  top: 30px;
		width:100%;
    height:100%;
		background:no-repeat center center;
    background-image:url('../img/logo.png');
    transform: scale(1.5);
		background-size:contain;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index:3000;
    cursor:pointer;
    border-top:solid 0.7em transparent;
    border-bottom:solid 0.7em transparent;
	}

  .blacklogo{
    background-image:url('../img/tbt-black.svg')!important;
  }

  .orangelogo{
    background-image:url('../img/tbt-fullcolor.svg')!important;
  }

	#nav-hamburger{
		position:absolute;
    right:1.4em;
		height:45px;
		width:45px;

      display:block;
      top:1.5em;

    background-color:transparent;
	}

  #search{
    position: relative;
    margin-left:-1em;
    height: 3em;
    top: 1em;
    width: 17%;
    #searchbt{
      z-index: 3;
      display: inline-block;
      position:absolute;
      height:100%;
      width:2em;
      background:url('/assets/img/search-icon.svg') no-repeat center center;
      background-size:70% auto;
      cursor:pointer;
    }

    input{
      font-family: 'montserratlight';
      display: inline-block;
      width: 0;
      position: absolute;
      left:2.2em;
      border: 0;
      padding-bottom: 0.2em;
      border-bottom: 1px solid #dfba69;
      background: none;
    }
  }


  #nav-extra{
    position:absolute;
    right:3em;
    padding:0px;
    margin:0px;
    text-align: right;
    color:$gold-color;
    height:100%;
    padding:0.5em;
    #accountbt{
      margin-top: -3em;
      height:100%;
      width:2em;
      background:url('/assets/img/account-icon.svg') no-repeat center center;
      background-size:70% auto;
      float:left;
      cursor:pointer;
    }
    .dropit{
      position: absolute;
      display: none;
      font-family: 'montserratregular';
      bottom: 2em;
      left: 0;
    }
    #basketbt{
      height:100%;
      width:2em;
      background:url('/assets/img/buy-icon.svg') no-repeat center center;
      background-size:70% auto;
      float:left;
       cursor:pointer;
    }
  }

  #nav-language{
    .mann{
      height:0.9em;
      overflow: hidden;

    }

    position:absolute;
    right:0em;

    padding:0px;
    margin:0px;

    width:30px;
    text-align: right;
    color:$gold-color;
    font-family: 'montserratregular';
    font-size:1.1em;
    top:1.3em;
    margin-right:1.3em;

   .langbt{
    margin:0;
    padding:0;
   }
   .tricoiso{
    margin-top:-0.3em;
   }


    p{

      padding:0px;
      margin:0px;
      padding-bottom:0.3em;
      cursor: pointer;
      &:hover{
        opacity:0.55;

      }
    }
    &.black{
      color:black!important;
      p{
        color:black;
      }
    }

  }

}

.menuzes{
  position:relative;
  top:0;
  width:100%;
  padding-right:3em;
  text-align: right;
  height:100%;

  color:#fff;;
      -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index:-1;
    padding-top:calc(1.5em);
    margin:0px;
  li{
    &:hover{
      text-decoration: underline;
    }
    text-align: center;
    display:inline-block;
    list-style-type: none;
    text-indent: 0px;
    margin:0px;
    margin-left:2em;
    font-family: 'bebas book';
    letter-spacing: 0.08em;
    font-size:1.4em;
    color:inherit;
    text-transform: uppercase;
    cursor: pointer;
    a{
      color:#fff;
      text-decoration: none;
    }

  }
}

.home .menuzes{
  li{
    &.home{
      display:none;
    }
  }
}



.mudasti{

  padding:1.1em;
  background-color:#fff;
  height:8.5vh;

  #nav-language{
    top:2vh;
    margin-right:0;
    color:$gold-color;
  }

  .menuzes{
    padding:3.3vh;
    margin:0px;
  }

}






/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
	margin:0px!important;
	padding:0px!important;
  width: 40px;
  height: 34px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
/* Icon 2 */

#nav-icon2 {
}



#nav-icon2 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background-color: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 8px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 16px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 3px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 3px);
  top: 3px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 15px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 3px);
  top: 15px;
}


.animated{
    -webkit-animation-duration:.5s;
    -moz-animation-duration:.5s;
    -o-animation-duration:.5s;
    animation-duration:.5s;
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
    will-change:transform,opacity
}
@-webkit-keyframes slideDown{
    0%{
        -webkit-transform:translateY(-100%)
    }
    100%{
        -webkit-transform:translateY(0)
    }
}
@-moz-keyframes slideDown{
    0%{
        -moz-transform:translateY(-100%)
    }
    100%{
        -moz-transform:translateY(0)
    }
}
@-o-keyframes slideDown{
    0%{
        -o-transform:translateY(-100%)
    }
    100%{
        -o-transform:translateY(0)
    }
}
@keyframes slideDown{
    0%{
        transform:translateY(-100%)
    }
    100%{
        transform:translateY(0)
    }
}
.animated.slideDown{
    -webkit-animation-name:slideDown;
    -moz-animation-name:slideDown;
    -o-animation-name:slideDown;
    animation-name:slideDown
}
@-webkit-keyframes slideUp{
    0%{
        -webkit-transform:translateY(0)
    }
    100%{
        -webkit-transform:translateY(-100%)
    }
}
@-moz-keyframes slideUp{
    0%{
        -moz-transform:translateY(0)
    }
    100%{
        -moz-transform:translateY(-100%)
    }
}
@-o-keyframes slideUp{
    0%{
        -o-transform:translateY(0)
    }
    100%{
        -o-transform:translateY(-100%)
    }
}
@keyframes slideUp{
    0%{
        transform:translateY(0)
    }
    100%{
        transform:translateY(-100%)
    }
}
.animated.slideUp{
    -webkit-animation-name:slideUp;
    -moz-animation-name:slideUp;
    -o-animation-name:slideUp;
    animation-name:slideUp
}
