@function makelongshadow($color, $blur) {
  $val: 0px 0px $blur $color;
  @for $i from 2 through 150 {
    $val: #{$val}, #{$i}px #{$i}px #{$blur} #{$color};
  }
  @return $val;
}

@mixin longshadow($color, $blur) {
  text-shadow: makelongshadow($color, $blur);
}

@mixin longshadowbox($color, $blur) {
  box-shadow: makelongshadow($color, $blur);
}