<div id='sidemenu'>
     <ul class='side-list'>
      <li class='side-item'><i class='icon-home'></i><a href="/" class=''>HOME</a></li>
       <li class='side-item'><i class='icon-heart-empty'></i><a href="/#about-us" data-limbo9='quick about-us section title'>A HISTÓRIA</a></li>
       <li class='side-item'><i class='icon-users'></i><a href="/#facilities" data-limbo9='quick catalog section title'>AS INSTALAÇÕES</a></li>
        <li class='side-item'><i class='icon-basket'></i><a href="/#brands" data-limbo9='quick services-ll section title'>AS MARCAS</a></li>

       <li class='side-item'><i class='icon-location'></i><a href="/#contacts" data-limbo9='quick contacts section title'>CONTACTOS</a></li>
       <li class='divider'></li>
       <li id='sidelangbar' data-limbo9='each languages'>
         <p><i class='icon-globe'></i><span class='langbt dalangs' data-limbo9='item'>PT</span></p>
       </li>

     </ul>
 </div>



      <section id='langbar' data-limbo9='each languages'>

                      <p class='langbt dalangs' data-limbo9='item'></p>

      </section>

      <nav class='nav animated'>
        <div id='nav-logo'></div>


           <div id='nav-hamburger' class='blackhamburger'>

              <div id="nav-icon2">

                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>

              </div>

          </div>

      </nav>
