<section id='bottom-menu'>

<div class='biglogobottom'><img src="/assets/img/logoengbranco.svg" alt=""></div>
<div class='menubottom'>
  <ul class="holdnavbottom">
    <li>HOME</li>
    <li>A HISTÓRIA</li>
    <li>INSTALAÇÕES</li>
    <li>MARCAS</li>
    <li>MERCHANDISE</li>
    <li>CONTACTOS</li>
  </ul>
  <ul class='holdsocialbottom'>
    <li><i class='icon-facebook-squared'></i></li>
    <li><i class='icon-twitter-squared'></i></li>
    <li><i class='icon-instagram'></i></li>
  </ul>
  <div class='breakit'></div>
</div>

</section>
