    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmap3/7.2.0/gmap3.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/components/aws-cognito-sdk.min.js"></script>
    <script src="/components/amazon-cognito-identity.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.191.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/components/jquery.js"><\/script>');</script>
    <script src="/assets/js/scripts.min.js"></script>
